.project_Page_container {
  margin-top: 2em;
  z-index: 9;
}
.project_list_container {
  border-radius: 20px;
  padding: 4px;
}

.success_btn {
  color: green;
  background: rgba(0, 128, 0, 0.422);
}

.branding {
  color: blueviolet;
  background: rgba(137, 43, 226, 0.318);
}