html, body {
  background: rgba(128, 128, 128, 0.061);
  font-size: 18px;
  color: black;
  font-weight: 300;
}

a {  
  color: rgb(145, 142, 142);
  text-decoration: none;
}

.main-color {
  color: rgb(145, 142, 142);
}
